<h1> Welcome <%= @user.username %>!</h1>

<h3> Current groups: </h3>

<% if @user.groups.any? %>
  <% @user.groups.each do |group| %>
    <p><%= link_to group.name, group_path(group) %>
  <% end %>
<% else %>
  <p>You haven't joined any groups yet!
<% end %>